<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="encabezado">
                <span class="h3">Lista de Empleados</span>
                <button class="btn btn-dark btn-lg" routerLink="/crear-empleados">Agregar</button>
            </div>
            <table *ngIf="empleados.length>0" class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.documento}}</td>
                        <td>{{empleado.salario | currency}}</td>
                        <td class="options">
                            <i  [routerLink]="['/editar-empleados/', empleado.id]" class="fa-regular fa-pen-to-square fa-lg text-info mr-2"></i>
                            <i (click)="eliminarEmpleado(empleado.id)" class="fa-solid fa-trash fa-lg text-danger mf-1"></i>
                        </td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td></td>
                        <td></td>
                        <th>{{TotalSalarios | currency}}</th>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>