<div class=crearEmpleado>
    <div class="contenedorFormulario">
        <div>
            <div>
                <h3>{{title}}</h3>
                <div *ngIf="loading" class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span *ngIf="submitted && createEmpleado.invalid" class="spanError">Todos los campos son
                    obligatorios</span>
                <form class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="ejecucion()">
                    <div class="campos">
                        <input type="text" formControlName="nombre" placeholder="Nombre">
                        <input type="text" formControlName="apellido" placeholder="Apellido">
                    </div>
                    <div class="campo">
                        <input type="number" formControlName="documento" placeholder="Documento">
                    </div>
                    <div class="campo">
                        <input type="number" formControlName="salario" placeholder="Salario">
                    </div>
                    <div class="botones">
                        <button type="button" class="btn btn-secondary btn-lg"
                            routerLink="/lista-empleados">Volver</button>
                        <button type="submit" class="btn btn-dark btn-lg">{{action}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>