.background-wrapper {
    position: relative;
    height: 100%; /* Ajusta esto según sea necesario */
    background: url('./assets/background.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  
  .content {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 800px;
    background: rgba(0, 0, 0, 0.6); 
  }
